<!DOCTYPE html>
<html lang="ko">
<head>
    {% load static %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>회원가입</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <!-- 회원가입 폼 -->
    <form id="register-form" method="post" action="{% url 'signup' %}">
        {% csrf_token %}
        <h1 id="register-title">회원가입</h1>
        <div id="username-field">
            <label for="username">ID</label>
            <input id="username" name="username" type="text" placeholder="아이디" required>
            <div class="error-message"></div>
        </div>
        <div id="password-field">
            <label for="password">Password</label>
            <input id="password" name="password1" type="password" placeholder="비밀번호" required>
            <input id="password-repeat" name="password2" type="password" placeholder="비밀번호 확인" required>
            <div class="error-message"></div>
        </div>
        <button type="submit">Register</button>
        <div class="login-message">
            계정이 이미 있다면, <a href="{% url 'login' %}">로그인</a>
        </div>
    </form>
</body>
</html>
